html, body {
    box-sizing: border-box;
    background-color: #ffeead;
    height: 100%;
    /* padding: 10px; */
    margin: 0px;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    justify-content: center;
    align-items: center;
    color: #ffeead;
}

header {
    display: flex;
    grid-area: h;
    /* grid-column: 1/-1; */
    background-color: #96ceb4;
}

main {
    display: flex;
    grid-area: c;
    /* grid-column: 3/-1; */
    background-color: #88d8b0;
}

footer {
    display: flex;
    grid-area: f;
    /* grid-column: 1/-1; */
    background-color: #ffcc5c;
    justify-content: space-evenly;
}


